.createactimg{
    background:url(../images/CreateActivityimg.jpg);
    background-position: center;
    background-size: cover;
    height: 40rem;
    padding: 5rem;
    background-repeat: no-repeat; 
    font: h1;
    /* color: rgb(166, 221, 243); */
    color: #d3dde0;  
}