.homeimg{
    background:url(../images/Homeimg.jpg);
    background-position: center;
    background-size: cover;
    height: 40rem;
    padding: 5rem;
    background-repeat: no-repeat; 
    font: h1;
    /* color: rgb(166, 221, 243); */
    color: rgb(15, 40, 121);  
}

.titleH2 {
    flex-shrink: 0;
    width: 40%;
    align-content: center;
    font: rgb(45, 76, 177);
  }

  /* .title{
    align-items: left;
    text-align: left;
    padding-left: 50px;
    cursor: pointer;
    display: block;
} */